{% extends 'layout/basic.html' %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}
  <h2>Профиль пользователя {{ user.username }}</h2>
  <button type="button" class="btn btn-warning w-20"><a href="{% url 'core:profile_change' %}">Изменить личные данные</a></button>
  {% if user.first_name and user.second_name %}
    <p>Здравствуйте, {{ user.first_name }}!</p>
  {% else %}
    <p>Здравствуйте!</p>
  {% endif %}
  <h3>Ваши объявления</h3>
  <h3>Ваши образы</h3>
{% endblock %}
