<!-- {% load bootstrap4 %} -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
  integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
  crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>
    {% block title %}The Shop{% endblock %}
  </title>

  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
  {% bootstrap_javascript jquery='slim' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" ></script>

</head>

<body>

  <!-- Navigation -->


  <nav class="navbar">
    <div class="navbar__container">
      <a href="{% url 'core:about_project' %}" id="navbar__logo">The Shop</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="{% url 'core:about_project' %}" class="navbar__links" id="home-page">About</a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'core:index' %}" class="navbar__links" id="about-page">Marketplace</a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'api:page_outfits' %}" class="navbar__links" id="services-page"
          >Outfits</a
          >
        </li>
        {% if not user.is_authenticated %}
        <li class="navbar__btn">
          <a href="{% url 'core:register' %}" class="authed__btn" id="">Registration</a>
        </li>
        <li class="navbar__btn">
          <a href="{% url 'core:login' %}" class="button" id="signup">Log In</a>
        </li>
        {% else %}
        <li class="navbar__btn">
          <a href="{% url 'core:profile' %}" class="authed__btn" id="">Profile</a>
        </li>
        <li class="navbar__btn">
          <a href="{% url 'core:logout' %}" class="button" id="">LogOut</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  {% block about %}
  {% endblock %}


  <!-- Page Content -->

  <div style="background: #131313">
    {% block left_nav %}
    {% endblock %}
  </div>
  <section class="services">
    {% block content %}
    {% endblock %}
    {% bootstrap_messages %}
  </section>

  <!-- Footer -->
  <footer class="footer__container">
    <section class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <a href="{% url 'core:about_project' %}" id="footer__logo">The Shop</a>
        </div>
        <p class="website__rights">© The Shop 2021. All rights reserved</p>
        <div class="social__icons">
          <a href="/" class="social__icon--link" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/toxicpzd/" class="social__icon--link"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-youtube"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="/" class="social__icon--link"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </div>
    </section>
  </footer>

<script type="text/javascript">
  const menu = document.querySelector("#mobile-menu");
  const menuLinks = document.querySelector(".navbar__menu");
  const navLogo = document.querySelector("#navbar__logo")

  // Display mobile menu
  const mobileMenu = () => {
    menu.classList.toggle("is-active");
    menuLinks.classList.toggle("active");
  };

  menu.addEventListener("click", mobileMenu);

  // Close mobile Menu when clicking a menu item
  const hideMobileMenu = () => {
    const menuBars = document.querySelector(".is-active");
    if (window.innerWidth <= 768 && menuBars) {
      menu.classList.toggle("is-active")
      menuLinks.classList.remove("active")
    }
  }

  menuLinks.addEventListener("click", hideMobileMenu);
  navLogo.addEventListener("click", hideMobileMenu);

</script>

</body>
</html>
