{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    {% block title %}The Shop{% endblock %}
  </title>

  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
  {% bootstrap_javascript jquery='slim' %}

</head>

<body class="container-fluid">

  <!-- Navigation -->

  <div class="row mt-1">
    <a class="navbar-brand ml-3" href="#">the shop</a>
      <ul class="col nav ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'core:other' page='about' %}">О Сайте</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:index' %}">Магазин</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Оценка образов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Доска объявлений</a>
        </li>
        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:register' %}">Регистрация</a>
          </li>
        {% endif %}

      </ul>
      <div class="float_right mr-1">

    {% if user.is_authenticated %}
      <button type="button" class="btn btn-secondary"><a href="{% url 'core:profile' %}">Мой профиль</a></button>
      <button type="button" class="btn btn-danger ml-1"><a href="{% url 'core:logout' %}">Выйти</a></button>
    {% else %}
      <button type="button" class="btn btn-dark"><a href="{% url 'core:login' %}">Войти</a></button>
    {% endif %}
    </div>
  </div>


  <header>

  </header>

  <!-- Page Content -->
      <div class="row">
        <nav class="col-md-auto nav flex-column mt-3">
            {% block left_nav %}
            {% endblock %}
          </nav>
          <section class="col py-2">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
          </section>
        </div>

  <!-- /.container -->
<!-- 632 -->
  <!-- Footer -->
  <footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Зинченко Семён 201-322 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->


</body>

</html>
