{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ category }}{% endblock %}

{% block content %}
{% if bbs %}
<div class="services__wrap">
  {% for bb in bbs %}
  <div class="neumorphismrubric__box">
    {% url 'core:detail' category_pk=category.pk pk=bb.pk as url %}

      {% if bb.image %}
      <img class="services__card--image" src="{% thumbnail bb.image 'default' %}">
      {% else %}
      <img class="mr-3" src="{% static 'main/empty.jpg' %}">
      {% endif %}

    <h2><a href="{% url 'core:detail' category_pk=bb.category_id pk=bb.pk %}" class="box__link">
      {{ bb.title }}</a></h2>
      <p>{{ bb.content }}</p>
      <p class="text-right font-weight-bold">{{ bb.price }} руб.</p>
    </div>
  {% endfor %}
</div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link pagination__link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>



    {% for i in page.paginator.page_range %}
      {% if page.number == i %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% else %}
      <li class="page-item" aria-current="page">
        <a class="page-link pagination__link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %}
    {% endfor %}

    <li class="page-item">
      <a class="page-link pagination__link" href="#">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}
