{% extends "layout/basic.html" %}


{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block left_nav %}
{% for categories in super_categories %}
<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ categories.name }}
  </button>
  <div class="dropdown-menu">
    {% for item in sub_categories %}
    {% if categories == item.super_category %}
    <a href="{% url 'core:by_category' pk=item.pk %}" class="nav-link">{{ item.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}

{% block content %}
<h1>Последние 10 объявлений</h1>
<div class="services__wrapper">
  {% for bb in bbs %}
  <div class="neumorphismrubric__box">
    <a href="{% url 'core:detail' category_pk=bb.category_id pk=bb.pk %}">
      {% if bb.image %}
      <img class="services__card--image" src="{% thumbnail bb.image 'default' %}">
      {% else %}
      <img class="mr-3" src="{% static 'main/empty.jpg' %}">
      {% endif %}
    </a>
    <h2><a href="{% url 'core:detail' category_pk=bb.category_id pk=bb.pk %}">
      {{ bb.title }}</a></h2>
      <p>{{ bb.content }}</p>
      <p class="text-right font-weight-bold">{{ bb.price }} руб.</p>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
