{% extends 'layout/basic.html' %}
{% load bootstrap4 %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1 class="hero__heading">Вход</h1>
  {% if user.is_authenticated %}
    <h1 class="hero__heading">Вы уже выполнили вход.</h1>
  {% else %}
    <form class="" method="post">
      {% csrf_token %}
      {% bootstrap_form form lauout='horizontal' %}
      <input type="hidden" name="text" value="{{ next }}">
      {% buttons submit='Войти' %}{% endbuttons %}
    </form>
  {% endif %}
{% endblock %}
